# =============================================================================
# Leave this file in place as a reference.
# NOTE: Copying this file into place will result in all keys being set to
# empty string.
#
# The actual configuration file should be stored as:
# config/application.yaml
# =============================================================================

# =============================================================================
# App Base URL
# Specify the base URL to where the application is being hosted. This is used
# by JSON serializers to give the correct URLs to resources
# =============================================================================
app_base_url:

# =============================================================================
# API Port
# Optional
# Switch the API to run over a port on localhost instead of a unix socket.
# The nginx config will need to be renendered. This is typically used when
# unicorn is running on port 8080
#
# To start the unicorn server with a unix socket:
# bundle exec unicorn -c /path/to/app/unicorn.rb
#
# To start the unicorn server on port 8080:
# bundle exec unicorn
# =============================================================================
# api_port: 8080

# =============================================================================
# Content Base Path
# Set the locations the internal configuration files will be stored at
# =============================================================================
content_base_path:

# =============================================================================
# JSON Web Token Shared Secret
# Specify the shared secret used in generating and verifing jwt_token
# signatures. This can be used to allow single sign on with other services
# =============================================================================
jwt_shared_secret:

# =============================================================================
# Default System Dir
# The default directory to server over the nginx server. File a stored within
# sub directories according to their type. Each file type's system can be
# explicitly overridden using the <class>_system_dir config value (see below)
# =============================================================================
default_system_dir:

# =============================================================================
# <class> System Dir
# Override the system directory for a particular file model. The needs to be the
# string version of the ruby model being overridden. The nginx routing to this
# file type will automatically be updated next time the configs are rendered.
#
# Unlike the `default_system_dir`, the file type is not appended
# automatically
# =============================================================================
# Examples:
# Legacy_system_dir:
# Uefi_system_dir:
# KernelFile_system_dir:
# Initrd_system_dir:
#

