# =============================================================================
# GETTING STARTED
# COPY this file into place, please leave this example as a reference.
# NOTE: Comments in the main config will be removed by the application
#
# cp config/application.yaml.example config/application.yaml
#
# The following parameters are configurable for the install. Commented out keys
# give the default values used. Uncomment the line to manually set it
# =============================================================================

# =============================================================================
# App Base URL
# Specify the base URL to where the application is being hosted. This is used
# by JSON serializers to give the correct URLs to resources
# =============================================================================
app_base_url:

# =============================================================================
# Content Base Path
# Set the locations the internal configuration files will be stored at
# =============================================================================
content_base_path:

# =============================================================================
# Kickstart Base Path and URL
# Set the base path where the actual kickstart file is stored. This will likely
# be on an apache or nginx server. The base part of the URL must be
# independently set
# =============================================================================
kickstart_base_path:
kickstart_base_url:
